html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}
body{
  overflow: hidden;
}
input {
  border: none;
  background: none;
  outline: none;
}
#AMapContainer{
  width: 100%;
  height: 100%;
}
.amap-logo, .amap-copyright{
  display: none !important;
}
